#aboutme, #projects, #contactme {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  padding-top: 60px;
  display: flex;
}

.picture-container {
  background-color: rgb(34, 34, 35);
  width: 200px;
  height: 30%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 20px;
}

#aboutme {

  justify-content: space-between;
  align-items: center;
  display: flex;

}

.about-me-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(34, 34, 35);
  color: white;
  width: 60%;
  height: 30%;
  padding: 20px;
  margin-right: 100px;
}

.about-me-text {
  text-align: center;
}

#projects {

}

#contactme {

}

h1 {
  margin: 0px;
}




